# Notion API Key
# Get this from: https://www.notion.so/my-integrations
NOTION_API_KEY=your_notion_api_key_here

# Notion Page ID
# The ID of the page where you want to add content
# Format: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
NOTION_PAGE_ID=your_notion_page_id_here
